body {
	background-color:#324894;
	font-family: Verdana,Arial,sans-serif;
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
}

html {height: 100%}

#page {
	margin:3em;
}

#header {
  padding: 1em 5em 0;
}

#left_column {
	width:66%;
	float:left;
}

#left_column > .header {
	background-color:#404040;
	padding: 1em;
	font-size: 1.3em;
	font-weight: bold;
	color: #ffffff;
}

#content {
	background-color:#f0f0f0;
}

#right_column {
	background-color:#6b6b6b;
	width:33%;
	float:left;
}

#right_column > .header {
	background-color:#343434;
	padding: 1em;
	color: #ffffff;
}

.poll_tabs {
	border:0px;
	padding:0em;
}

#footer {
  clear: both;
  padding-top: 2px;
  height: 34px;
  margin-top: -36px;
  position: absolute;
  width: auto;
  bottom: 0;
}
#footer a {height: 0;}
#page {padding-bottom: 36px;}

#footer {padding-left: 3em; padding-right: 3em; }
