
body {
	background-color:#324894;
	font-family: Verdana,Arial,sans-serif;
}

#page {
	margin:3em;
}

#left_column {
	width:66%;
	float:left;
}

#left_column > .header {
	background-color:#404040;
	padding: 1em;
	font-size: 1.3em;
	font-weight: bold;
	color: #ffffff;
}

#right_column {
	background-color:#6b6b6b;
	width:33%;
	float:left;
}

#right_column > .header {
	background-color:#343434;
	padding: 1em;
	color: #ffffff;
}

.poll_tabs {
	border:0px;
	padding:0em;
}

.footer{
	float: none;
}
